.card-img-top{
	width: 250px;
	height: 150px;
	margin-top: 5px;
}
.card{
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.d-block{
	width: 100%;
	height: 30%;
}
h1{
	margin-bottom: 30px;
	margin-top: 20px;
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	letter-spacing: 2px;
}
.card p{
	text-align: justify;
}
.rodape{
	word-spacing: 3px;
}
.info-prod{
	margin-right: 120px;
	margin-left: 200px
}
.info-prod button{
	width: 300px;
}
.info-prod input{
	width: 300px;
}
.rodape2{
	word-spacing: 3;
	position: absolute;
	bottom: 0;
	color: white;
	background-color: rgb(33, 37, 41);
	height: 60px;
	width: 100%;
	text-align: center;
}
.abc{
	padding-top: 5vh;
}
.pg-login{
	background-image: url("Images/part1.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 50%;
	background-attachment: fixed;
}
.forms .btn{
	float: right;
}